/*Configurações personalidas de CSS*/

.navbar-btn-toggler{
     background-color: transparent;
     border: none;
     color: #39A289;
}

.navbar-btn-toggler:hover{
     color: #39DC89;
     transition: 500ms;
     box-shadow: none;
     box-shadow: 0px 0px 5px #39A289;
}

.logo-topbar{
     width: 4em;
}


